{
    "public": {
        "enableGoogleAnalyticsTracking": true,
        "logglyEnabled": true,
        "fileServer": "http://files.kevindh.nl"
    },
    "private": {
        "loggly": {
            "token": "324fb5cf-0e61-42dd-aac7-01b5bb0be92e",
            "tag": "360-viewer"
        }
    }
}