{
    "public": {
        "enableGoogleAnalyticsTracking": true,
        "logglyEnabled": true,
        "fileServer": ""
    },
    "private": {
        "loggly": {
            "token": "",
            "tag": "360-viewer"
        }
    }
}