/* CSS declarations go here */
html {
  width: 100%;
}

body {
  background: #f5f5f5;
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: 10px;
  font-family: 'Open Sans', Tahoma, sans-serif !important;
}

@media (min-width: 769px) {
  .portrait-overlay,
  .portrait-overlay-back,
  .portrait-text {
    display: none !important;
  }
}

.portrait-text {
  width: 100%;
  height: 100%;
  z-index: 99;
  position: absolute;
  font-size: 40px;
  color: white;
  display: block;
  font-weight: bold;

  .title {
    text-align: center;
    width: 100%;
    h1 {
      letter-spacing: 4px;
      font-size: 25px;
      text-transform: uppercase;
    }
  }
  .title-row {
    margin-bottom: 10px;
  }
  a {
    color: white;
    font-weight: bold;
  }
  h2 {
    font-size: 18px;
    color: darkgrey;
    font-weight: normal;
  }
  em {
    margin: 5px 0 15px 0;
    display: inline-block;
  }
  img {
    margin: 25px 0;
    max-height: 150px;
  }
  .lead {
    font-size: 14px;
  }
  .swiper-container {
    height: 65%;
  }
  .highlighted-by-swiper {
    color: #ffb294;
  }
  .swipe-gesture {
    margin-top: 15px;
  }
  .boaz {
    margin-top: 0;
    width: 30%;
  }
  .charlie {
    margin-top: 0;
    width: 30%;
  }
  .vr-icon {
    width: 30px;
    margin: 0 3px 5px 5px;
  }
  .boaz-text {
    font-size: 14px;
    margin-top: 2%;
  }
  .charlie-text {
    font-size: 14px;
    margin-top: 2%;
    width: 50%;
  }
  .no-vr-glasses-text {
    font-size: 12px;
    color: #aaa;
  }
  .start-app-text {
    font-size: 12px;
    position: absolute;
    bottom: 50px;
    left: 17px;
  }
  .start-vr-text {
    font-size: 12px;
    position: absolute;
    bottom: 50px;
    right: 17px;
  }
  .start-app-icon {
    position: absolute;
    bottom: 5px;
    left: 20px;
    img {
      height: 15px;
      opacity: 0.8;
    }
  }
}

.portrait-overlay-back {
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.8;
  position: absolute;
  font-size: 40px;
  z-index: 98;
  display: block;
}

.action-container {
  height: 100%;
  width: 100%;
  display: inline-block;
}

.mdl-textfield--file {
  position: relative;
  height: 100%;
}

.mdl-button--file {
  cursor: pointer;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.mdl-button--file input {
  right: 0;
  top: 0;
  width: 1px;
  height: 1px;
  position: absolute;
}

.mdl-textfield--file .mdl-textfield__input {
  box-sizing: border-box;
  width: calc(100% - 32px);
}

.mdl-textfield--file .mdl-button--file {
  right: 0;
}

// Custom swiper settings
.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 100%;
  background: white;
  opacity: .2;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #fb8465;
}


// Overwriting the default a-frame screen when in portrait position and VR mode.
.a-orientation-modal {
  background: url("rotate-phone.svg") center/50% 50% no-repeat #000000 !important;
  color: white !important;
  opacity: 0.85;

  button {
    background: url("close-vr.svg") !important;
  }
}
.a-orientation-modal:before {
  content: 'Insert your phone in a Boaz, Charlie or other VR glasses';
  position: absolute;
  text-align: center;
  top: 20%;
  left: 0;
  transform: translateY(20%);
  width: 100%;
  color: white !important;
  font-family: 'Open Sans', Tahoma, sans-serif !important;
}
.a-orientation-modal:after {
  font-family: 'Open Sans', Tahoma, sans-serif !important;
  content: 'Tap the screen to exit VR mode';
  display: block;
  color: white !important;
}

.a-canvas {
  // This fixes an issue with iPhones, when exiting VR mode the whole screen would get a right and bottom white border.
  padding: 0 !important;
}


#videoElement {
  width: 500px;
  height: 375px;
  background-color: #666;
}

// Quick selector
#quickSelector {
  z-index: 100;
  height: 100%;
  overflow-y: scroll;
}
#quickSelector img {
  width: 50%;
  display: inline-block;
  margin-top: 55px;
  border-radius: 25px;
}

@media (max-width: 500px) {
  #quickSelector {
    margin-top: 70px;
  }
  #quickSelector img {
    margin-top: 10px;
  }
  #quickSelector .col-xs-4 {
    width: 100%;
  }
}