.login-page-header {
  background: #333;
  padding: 20px 0;
  margin-top: 20px;
}

form.login-form {
  width: 500px;
  display: inline-block;

  div.card {
    margin-top: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  input {
    margin-bottom: 25px;
  }
}