<head>
    <title>Vensterworks - 360-Webviewer</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="manifest" href="/manifest.webmanifest" type="application/json">
    <!-- Latest compiled and minified CSS -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"-->
    <!--integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">-->

    <script src="/js/jquery.min.js"></script>
    <script type="text/javascript">
        $materialize = jQuery.noConflict(true);
    </script>
    <script src="/js/materialize.min.js"></script>
    <script src="/js/aframe.min.js"></script>
    <script src="https://rawgit.com/mayognaise/aframe-mouse-cursor-component/master/dist/aframe-mouse-cursor-component.min.js"></script>

    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/mobile-detect/1.3.5/mobile-detect.min.js"></script>
    <link rel="stylesheet" type="text/css"
          href="/bootstrap/css/bootstrap.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <script type="text/javascript">
//        var md = new MobileDetect(window.navigator.userAgent);
//        if (md.ua === 'Mozilla/5.0 (iPhone; CPU iPhone OS 10_0 like Mac OS X) AppleWebKit/602.1.50 (KHTML, like Gecko) Version/10.0 Mobile/14A345 Safari/602.1') {
//            alert('We noticed that you are using a device we can\'t give full support for. Our apologies for the inconvenience.');
//        }
    </script>
</head>