<template name="textObject">
    <a-entity rotation="{{getRotation}}" position="{{getPosition}}"
              class="text-object" geometry="primitive: plane; height: {{this.getBackgroundHeight}}; width: {{this.getBackgroundWidth}};"
              material="color: {{this.getBackgroundColor}}; opacity: {{this.getBackgroundOpacity}};">
        <a-entity scale="{{this.getTextScale}}"
                  text="font: {{this.getFontFamily}}; align: center; color: {{this.getFontColor}}; value: {{this.text}};">
        </a-entity>
    </a-entity>
</template>
