<template name="vrModeInstructions">
    <div id="vrModeInstructions">
        <h1>Welkom in VR modus</h1>

        <a class="btn btn-block" data-toggle="collapse" data-target="#vr-instructions">
            Uitleg <i class="glyphicon glyphicon-question-sign"></i>
        </a>

        <div id="vr-instructions" class="collapse">
            De VR modus is te gebruiken door uw telefoon in een VR bril te plaatsen.<br />
            Wij raden aan om een Google Cardboard, Boaz of Charlie te gebruiken.<br />
            <br />
            <a href="https://www.vensterworks.com/" target="_blank">Meer informatie over VR brillen</a>
        </div>

        <a class="btn btn-block" href="#" onclick="$('#scene').show(); $('#vrModeInstructions').hide();">
            Start VR <i class="glyphicon glyphicon-chevron-right"></i>
        </a>

        <a class="btn btn-block" href="#" onclick="document.querySelector('a-scene').exitVR();">
            <i class="glyphicon glyphicon-chevron-left"></i> Terug
        </a>
    </div>
</template>
