<template name="clientOverview">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Slug</th>
            <th>#</th>
        </tr>
        </thead>
        <tbody>
        {{#each clients}}
        <tr>
            <td>{{username}}</td>
            <td>{{slug}}</td>
            <td>
                <a href="{{pathFor 'editClient' id=_id}}">Edit</a>
            </td>
        </tr>
        {{/each}}
        </tbody>
    </table>
</template>