#quickSelector img {
  width: 100%;
  display: inline-block;
  margin-left: 15px;
  margin-top: 135px;
}

@media (max-width: 500px) {
  #quickSelector {
    margin-top: 70px;
  }
  #quickSelector img {
    margin-top: 10px;
    margin-left: 0;
  }
  #quickSelector .col-xs-4 {
    width: 100%;
  }
}