#quickSelector img {
  width: 100%;
  display: inline-block;
  margin-top: 135px;
  border-radius: 25px;
}

@media (max-width: 500px) {
  #quickSelector {
    margin-top: 70px;
  }
  #quickSelector img {
    margin-top: 10px;
  }
  #quickSelector .col-xs-4 {
    width: 100%;
  }
}