/* CSS declarations go here */
html {
    width: 100%;
}

body {
    background: #f5f5f5;
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 10px;
}

#quickSelector {
    position: absolute;
    text-align: center;
    display: none;
}

#galleryBtn {
    position: absolute;
    left: 0;
    margin: 15px 20px;
    z-index: 100000000000;
}


#uploadBtn {
    position: absolute;
    left: 0;
    margin: 15px 20px;
    z-index: 100000000000;
}

#vrBtn {
    position: absolute;
    right: 0;
    margin: 15px 20px;
    z-index: 100000000000;
}

.action-container {
    height: 100%;
    width: 100%;
    display: inline-block;
}

.mdl-textfield--file {
    position: relative;
    height: 100%;
}

.mdl-button--file {
    cursor: pointer;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.mdl-button--file input {
    right: 0;
    top: 0;
    width: 1px;
    height: 1px;
    position: absolute;
}

.mdl-textfield--file .mdl-textfield__input {
    box-sizing: border-box;
    width: calc(100% - 32px);
}

.mdl-textfield--file .mdl-button--file {
    right: 0;
}

.material-icons.cardboard {
    background-image: url('images/cardboard-icon.png');
}